*{
    scroll-behavior: smooth;
}
input,button:focus{
    box-shadow: none !important;
}
ul{
    padding-inline-start: 0;
}
p{
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #1900fd;
}
body{
    perspective: 1000px;
}
/* NAVBAR */
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
.logo-nav{
    background-color: #33365a;
    color: aliceblue;
    box-shadow: 0 10px 20px #000;
    z-index: 1;
}
.navbar-brand{
    font-family: ae_AlArabiya;
    font-size: 3em;
}
.navbar-brand span{
    padding-left: 10px;
}
.nav-link{
    color: #fff !important;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 30px 20px !important;
    font-family: Cairo;
    text-align: center;
}
.nav-link:hover{
    background-color: #33365a;
    /* color: #fff !important; */
}
.menu-btn{
    display: none;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    background-color: #33365a;
    border: 2px solid #fff;
    padding: 0;
}
.dropdown-item{
    font-size: 1.1rem;
    font-family: Dubai;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}
.dropdown-item:hover{
    background-color: #fff;
}
.dropdown-item a{
    color: #fff;
    text-decoration: none;
}
.dropdown-item a:hover{
    color: #33365a !important;
}
.cima{
    color: #fff;
}
.cima:hover{
    color: #fff;
}
.dead{
    color: #78d4ff;
}
.dead:hover{
    color: #78d4ff;
}
.search input{
    border-radius: 50px;
    text-align: center;
    width: 300px;
    background-color: rgba(0,0,0,.75);
    color: aliceblue;
    border: none;
    font-weight: 600;
    height: 40px;
    font-size: 1.2rem;
}
.blue-sky{
    background-color: #29b0ef;
}
.register a{
    border-radius: 50px;
    font-size: 1.2rem;
    background-color: #33365a;
    border: none;
    margin-right: 15px;
    color: #fff;
    padding: 7px 20px;
    font-family: ae_AlArabiya;
    text-decoration: none;
    transition: .3s;
}
.register a:hover{
    background-color: #6871ce;
    color: #fff;
}
.register a:focus{
    box-shadow: none !important;
}
.offcanvas-end{
    width: 400px;
}
.active{
    background-color: #33365a;
    color: #fff !important;
}
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
/* Slider */
.slide-item{
    position: relative;
    transition: .3s all;
    display: flex !important;
    flex-direction: column;
}
.pref{
    position: absolute;
    bottom: -30px !important;
    transition: .3s;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
    z-index: 1;
}
.slide-item:hover .pref{
    bottom : 0 !important;
}
.play{
    position: absolute;
    top: 50% !important;
    transition: .3s;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    display: none;
    z-index: 1;
}
.slide-item:hover .play{
    display: block !important;
}
.play i {
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid #fff;

}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33365a;
    opacity: .6;
    display: none;
    transition: .2s all;
    z-index: 1;
}
.slide-item:hover .layer{
    display: block;
}
.slick-slide img{
    display: inline !important;
}
/* Categories */
.categories{
    background-color: #29b0ef;
    padding: 20px 0;
}
.categories ::-webkit-scrollbar{
    display: none;
}
.cat-content{
    display: flex;
    align-items: center;
    padding: 0 10px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cat-item{
    cursor: pointer;
    transition: .4s all;
    padding: 0 15px;
    color: #fff;
}
.cat-item:hover{
    color: #fff;
    transform: scale(1.2);
}
.cat-item:active{
    color: rgb(57, 55, 131);
}
/* ERROR 404 */
.error-page{
    position: relative;
    background-image: url(https://browsecat.net/sites/default/files/netflix-background-128505-385456-9916359.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.error-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.error-page-content h1{
    font-size: 5em;
    font-family: Cairo;
    margin-bottom: 10px;
    z-index: 1;
}
.error-page-content h2{
    font-size: 2em;
    font-family: Cairo;
    margin-bottom: 20px;
    z-index: 1;
}
.error-page-content p{
    font-size: 1.7em;
    font-family: ae_AlArabiya;
    margin-bottom: 20px;
    z-index: 1;
}
.error-page-content a{
    border-radius: 10px;
    border: none;
    margin-right: 15px;
    font-size: 1.5em;
    padding: 5px 15px;
    z-index: 1;
}
/* MOVIES */
.movies{
    background-color: #33365ad5;
    padding: 20px;
    padding-top: 50px;
}
.movie-item{
    margin-bottom: 30px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
.movie-item:hover{
    transform: rotateY(180deg)
}
.movie-thumb{
    z-index: 2;
}
.movie-thumb img{
    backface-visibility: hidden;
}
.movie-title{
    font-family: Cairo;
    font-weight: 600;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: #33365a;
    padding: 10px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.movie-title{
    font-family: Cairo;
    font-weight: 600;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
.data{
    color: #fff;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date{
    margin-bottom: 15px;
}
.rate{
    background-color: #03243f;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.view{
    margin-top: 30px;
}
/* Movie Details */
.movie_backdrop{
    width: 100% !important;
    height: 500px !important;
    position: relative !important;
}
/* Years */
.years{
    padding: 50px 0;
    background-image: url(../public/img/years.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.years-item{
    display: flex;
    align-items: center;
    height: 100px;
    width: 110px;
    justify-content: center;
}
.years-item a{
    color: #fff;
    font-size: 1.4em;
    font-family: Cairo;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.hexagon{
    width: 92px;
    height: 45px;
    background: #33365a;
    position: relative;
    line-height: 1;
}
.hexagon:before{
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 29px solid #33365a;
}
.hexagon:after{
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 29px solid #33365a;
}
.years-item a:hover{
    color: #29b0ef;
}
.years-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* FOOTER */
footer{
    background-color: #29b0ef;
    text-align: center;
    padding: 10px;
}
footer p {
    font-weight: 600;
    color: #fff;
}
footer p a{
    color: #fff !important;
    font-weight: 500;
    font-family: cursive;
    transition: 1s !important;
    padding-left: 5px;
    text-decoration: none;
}
footer p a:hover{
    color: #33365a !important;
    letter-spacing: 2px;
}